<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
<link rel="stylesheet" 
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
    .navbar {
        background-color: cadetblue;
    }
    .anchor{
    margin: 6px;
    background-color: #d9edf7;
    border-color: #d9edf7;
    }
    
    input, label {
    display:block;
}
   
</style>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                            <h1>Welcome to Oauth2.0 Securities</h1>
                            <div class="container">
                            <div class="row">
                            <div class="col-md-3">
                           <h4> Hi, Welcome</h4></div>      
                           </div>
          </div>      
           </div> 
            </div>
    </nav>

    <br><br><br><br><br><br><br>
    <!-- Create HTML registration form -->
    <div class="container">
    
    <h3>Welcome to the application .After getting authenticated from Google.</h3>
</div>